body {
  background-color: black;
  
}

body img {
 position: absolute;
 left: 1%;
 top: 4.5%;
}

body h1 {
  font-size: 30px;
  text-transform: uppercase;
}

body button {
  font-size: 20px;
  background-color:black;
  color:#dd100d;
  padding: 10px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  border: 4px solid #dd100d;
  position: absolute;
  bottom: 25%;
  left: 5.5%;
}

.controls{
  position: absolute;
  bottom: 10%;
  left: 6%;
  color: #dd100d;

}
#game {
  border: 4px solid #dd100d;
  border-radius: 5px;
  position: absolute;
  right: 15px;
  bottom: 20px;

}

h2 {
  font-size: 3.8em;
	font-weight: 400;
	color: #DEC300;
}

.luxe {
  text-shadow: #FFF572 0 -2px 0,
							 #D59F02 1px -3px 1px,
               #B58800 2px 1px 0,
               #5B3900 0 -1px 2px,
               #5B3900 1px 1px 1px,
               #322500 1px 3px 4px;
  position: absolute;
  left: 1%;
  bottom: 32%;
  text-align: center;
}

.luxe2 {
  text-shadow: rgb(216, 19, 5) 0 -2px 0,
							 rgb(126, 4, 10) 1px -3px 1px,
               rgb(51, 3, 3) 2px 1px 0,
               rgb(73, 3, 7) 0 -1px 2px,
               rgb(63, 11, 4) 1px 1px 1px,
               #140101 1px 3px 4px;
  position: absolute;
  left: 22%;
  bottom: 9%;
  text-align: center;
  font-size: 4em;
  color: #fc0804
}

